header {
    background-color: rgb(56, 42, 18);
    height: 120px;
    width: 1900px;
    opacity: 0.8;
}

.naslov {
    font-size: 55px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
    margin-left: 345px;
    padding-top: 30px;
}

nav {
    background-color: rgb(118, 106, 85);
    height: 60px;
    width: 1900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.8;
}

.navitem {
    font-size: 30px;
    color: black;
    padding-top: 4px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 25px;
    margin-top: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navitem:hover {
    background-color: rgb(218, 192, 128);
    transition: 1s;
    border-radius: 20px;
    cursor: pointer;
}

.navclick {
    font-size: 30px;
    color: black;
    padding-right: 40px;
    padding-left: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  aspect-ratio: 12 / 10;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #dfd6ce;
}

.dots-container .dot.active {
  border: 2px solid green;
}

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  position: relative;
  margin-top: 50px;
}

.slide-container .slide {
  display: none;
  width: 100%;
}

.slide-container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .slide img {
  width: 100%;
}